<?xml version="1.0"?>
<!--  
*****************************************************************************************
*
*  Filename:			    robot.urdf.xacro
*  Created:				    19/03/2024
*  Last Modified:	        19/03/2024
*  Author:				    Archit Jain
*  
*****************************************************************************************
-->

<robot xmlns:xacro="http://www.ros.org/wiki/xacro"  name="robot">

    <xacro:include filename="robot_core.xacro" />

    <xacro:include filename="gazebo_control.xacro" />
    <xacro:include filename="lidar.xacro" />
    <xacro:include filename="camera.xacro" />
    <xacro:include filename="imu.xacro" />
    <!-- <xacro:include filename="depth_camera.xacro" /> -->
    
</robot>